<h1>Public::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>

<div class="col-md-1">
    </div>
 <!--カスタマー情報-->
     <div class="col-md-10">

       <h2>マイページ</h2>

       <h3 class="font-weight-bold">登録情報   <%= link_to '編集する', edit_customer_path ,class: "btn btn-success margin: 0 30px;" %></h3>

       <table class="table table-bordered">
       <tr>
           <td class="table-secondary">氏名</td> <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
            <td class="table-secondary">カナ</td> <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
            <td class="table-secondary">郵便番号</td> <td><%= @customer.postal_code %></td>
        </tr>
       <tr>
            <td class="table-secondary">住所</td> <td><%= @customer.address %></td>
       </tr>
       <tr>
            <td class="table-secondary">電話番号</td><td><%= @customer.telephone_number %></td>
       </tr>
       <tr>
            <td class="table-secondary">メールアドレス</td> <td><%= @customer.email %>></td>
       </tr>
        </table>

        <h3 class="font-weight-bold">注文履歴</h3>

        <%= link_to '一覧を見る', orders_path ,class: "btn btn-primary" %>


     </div>

    <div class="col-md-1">
    </div>


