
<div class="container">
  <div class="row">

    <div class="col-md-2">
    </div>

     <div class="col-md-8">

<h2>管理者ログイン</h2>




<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email ,"メールアドレス", class:"label" %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'longform' %>
  </div>

  <div class="field">
    <%= f.label :password ,"パスワード", class:"label" %><br/>
    <%= f.password_field :password, autocomplete: "current-password" ,class:'longform'%>
  </div>

  

 <div class="formgroup">
   <label for="password">  </label>
    <%= f.submit "ログイン",class:'actionbtn' %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
 </div>

 <div class="col-md-2">
    </div>


</div>
</div>


