<% if flash[:notice] %>
  <div class="flash notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="flash alert"><%= flash[:alert] %></div>
<% end %>

<div class="container">
  <div class="row">
      <div class="col-md-2"></div>


     <div class="col-md-8">
         <ul class="list-group d-grid gap-2 col-6 d-md-end justify-content-md-end">

           <li class="list-group-item justify-content-md-end"><%= @item.name %></li>
           <li class="list-group-item justify-content-md-end"><%= @item.introduction%></li>
           <li class="list-group-item justify-content-md-end">¥<%= @item.price %>(税込)</li>

         </ul>


          <div class="form-group">
            <%= form_with model: @cart_item, url: cart_items_path, html: { method: :post } do |f| %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.select :amount, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]], { class: 'form-control' }, { id: 'cart_item_amount' } %>
              <%= f.submit "カートに入れる", class: "btn btn-primary mb-2" %>
            <% end %>
          </div>


         </div>
         <div class="col-md-2"></div>